.cell{
    width: 75px;
    height: 75px;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: 0 0 0 2px;
    font-size: 50px;
    cursor: pointer;
    line-height: 75px;
}

#cellcontainer{
   display: grid;
   grid-template-columns: repeat(3, auto); 
   width: 225px;
   margin: auto;
}

#gamecontainer{
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

.passwordcontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input, button{
    margin: 5px;
    padding: 8px;
}
